<h1>My profile route</h1>

<div>
	<p>{{theUser.firstName}}</p>
	<p>{{theUser.lastName}}</p>
	<p>{{theUser.username}}</p>
	<p>{{theUser.email}}</p>
	<a href="/profile/edit?user_id={{theUser._id}}">Edit</a>
</div>

<a href="/">Back to Main Page</a>