{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
        <div class="right-align">
            <li class="nav-link">
                <a href="/artist-search">Create Playlist</a>
            </li>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <img src="{{theUser.imgPath}}" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile/edit?user_id={{theUser._id}}">Edit Profile</a>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<h1 class="major-title">My Profile</h1>

<div class="container col">
    <div class="pb-4">
        <div class="mx-auto">
            <img class="avatar" src="{{theUser.imgPath}}" alt="{{theUser.imgName}}">
        </div>        
    </div>    
    <div class="md-6 d-flex align-items-center mb-2">
            <label class="m-0 mr-2" style="min-width: 90px;">First Name:</label>
            <input type="text" value="{{theUser.firstName}}" disabled>
    </div>
    <div class="md-6 d-flex align-items-center mb-2">
            <label class="m-0 mr-2" style="min-width: 90px;">Last Name:</label>
            <input type="text" value="{{theUser.lastName}}" disabled>
    </div>
    <div class="d-flex align-items-center mb-2">
            <label class="m-0 mr-2" style="min-width: 90px;">Username:</label>
            <input type="text" value="{{theUser.username}}" disabled>
    </div>
    <div class="d-flex align-items-center mb-2">
            <label class="m-0 mr-2" style="min-width: 90px;">Email:</label>
            <input type="text" value="{{theUser.email}}" disabled>
    </div>
</div>
<hr>
<a href="/profile/edit?user_id={{theUser._id}}"><button type="button" class="btn btn-primary mr-3">Edit</button></a>

<a href="/"><button type="button" class="btn btn-light">Back to Main Page</button></a>