{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
        <div class="right-align">
            <li class="nav-link">
                <a href="/artist-search">Create Playlist</a>
            </li>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <img src="{{user.imgPath}}" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile/edit?user_id={{currentUser._id}}">Edit Profile</a>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<h1 class="major-title">Edit Profile</h1>

<img class="avatar" src="{{user.imgPath}}" alt="{{user.imgName}}"></p>
<form action="/profile/edit?user_id={{user._id}}" method="POST" enctype="multipart/form-data">
  <div class="md-6 d-flex align-items-center mb-2">
    <label for="" class="m-0 mr-2" style="min-width: 90px;">Username: </label>
    <input type="text" value="{{user.username}}" name="username">
  </div>
	<div class="md-6 d-flex align-items-center mb-2">
    <label for="" class="m-0 mr-2" style="min-width: 90px;">First Name: </label>
    <input type="text" value="{{user.firstName}}" name="firstName">
  </div>
	<div class="md-6 d-flex align-items-center mb-2">
    <label for="" class="m-0 mr-2" style="min-width: 90px;">Lastname: </label>
    <input type="text" value="{{user.lastName}}" name="lastName">
  </div>
	<div class="md-6 d-flex align-items-center mb-2">
    <label for="" class="m-0 mr-2" style="min-width: 90px;">Email: </label>
    <input type="email" value="{{user.email}}" name="email">
  </div>
	<div class="md-6 d-flex align-items-center mb-2">
    <label class="m-0 mr-2" style="min-width: 90px;">Profile Image</label>
    <input type="file" name="photo" value="{{user.imgPath}}">
  </div>
  <br>

  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button class="btn btn-primary mr-3" type="submit">Save</button>
</form>

<button type="button" class="btn btn-light"><a href="/profile">Back to Profile</a></button>