<h1>My profile route</h1>

<div>
	<img class="avatar" src="{{theUser.imgPath}}" alt="{{theUser.imgName}}"</p>
	<p>{{theUser.firstName}}</p>
	<p>{{theUser.lastName}}</p>
	<p>{{theUser.username}}</p>
	<p>{{theUser.email}}</p>
</div>

<button type="button" class="btn btn-primary mr-3"><a href="/profile/edit?user_id={{theUser._id}}">Edit</a></button>

<button type="button" class="btn btn-light"><a href="/">Back to Main Page</a></button>