
{{!-- This is our home --}}


{{!-- go to create view just for testing purposes --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
            {{#if currentUser}}
            <div class="right-align">
                <li class="nav-link">
                    <a href="/artist-search">Create Playlist</a>
                </li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <img src="{{currentUser.imgPath}}" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                            <a class="dropdown-item" href="/profile/edit?user_id={{currentUser._id}}">Edit Profile</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
            </div>
                
            {{else}}
                <div class="right-align">
                    <li class="nav-link">
                        <a href="/signup">Signup</a>
                    </li>
                    <li class="nav-link">
                        <a href="/login">Login</a>
                    </li>
                </div>
            {{/if}}
        </div>
    </div>
</nav>

<section class="content p-3">
    {{#if currentUser}}
        <h3 class="title-light text-center mt-4 text-white">Welcome to MVR, {{currentUser.username}}!</h3>
    {{else}}
        <h1 class="welcome display-4 text-center mt-5 text-white">{{title}}<div class="proj-name">Music Virtual Rank</div></h1>
    {{/if}}

    {{#if currentUser}}
    <hr class="mt-5" style="height:30px;">
        <h3 class="title-light text-center">Your personal playlists</h3>
        <div class="row p-5">
            {{#each playlist}}
                <div class="card col-sm-3 m-2" style="width: 18rem;">
                    <a href="/playlist/{{this._id}}">
                        <div class="card-body">
                            <img class="card-img-top" src="../images/playlist.svg" alt="Card image cap"/>
                            <h5 class="card-title">{{this.artistname}}</h5>
                            <div class="btn btn-primary">View</div>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{/if}}
</section>

