<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
            
            <div class="right-align">
                <li class="nav-link">
                    <a href="/artist-search">Back to Previous Page</a>
                </li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <img src="{{theUser.imgPath}}" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                            <a class="dropdown-item" href="/profile/edit?user_id={{currentUser._id}}">Edit Profile</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
        </div>
    </div>
</nav>

<div class="wrap text-center mt-5">
    {{!-- <button type="button" class="btn btn-light"><a href="/">Back to Main Page</a></button> --}}
    <h2 class="display-4 text-center">2. Pick your artist/band</h2>
</div>

<section class="content p-3">
    <div class="row p-5">
        {{#each artists}}
            <div class="card artist-card col-sm-4 p-2 text-center" style="width: 18rem;">
                {{#if images}}
                    {{#each images}}
                        {{#if @first}}
                            <img class="card-img-top" src="{{ url }}" alt="artist cover" />
                        {{/if}}
                    {{/each}}

                    {{else}}
                    <div class="bg-color"></div>
                {{/if}}
            
                <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <button class="btn btn-link" onclick="window.location.href = '/tracks/{{id}}';">View tracks</button>
                </div>
            </div>
        {{/each}}
    </div>
</section>
   