
<button type="button" class="btn btn-light"><a href="/">Back to Main Page</a></button>
<br/><br/><br/>
<div class="jumbotron">
  <h1 class="display-4">{{playlistIndividual.artistname}} playlist</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    Songs:...
    {{#each playlistIndividual.songs }}
      {{this.songName}}
    {{/each}} 
  </p>
</div>

{{!-- Edit Playlist --}}
<a href="/playlist-edit/{{playlistIndividual.id}}" class="btn btn-primary mr-3">Edit</a>
{{!-- Delete Playlist --}}
<a href="/playlist-delete/{{playlistIndividual._id}}" class="btn btn-secondary mr-3">Delete</a>

{{!-- {{#if success}}
    <div class="alert">{{success}}</div>
{{/if}} --}}


